<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Mi CV</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="contenedor">
        <div class="principal">
            <div class="header">
               <div>
               <img src="img/frede.jpg" width="110px">
               </div>
                 <div class="nombre">
                  <h1>Fredeny Jesus Nieves Arraez</h1>
                  <p><b>Direccion:</b>Carretera Nacional Sam Juan la Villa Sector la vasola
                  <br>
                  <b>Teleono:</b>04124482986  -<b>Email:</b>fredeny31924@gmail.com
                  </p>
               </div>
            </div>
        </div>

        <div class="cuerpo">
           <div class="contenido">
            <h2 class="titulo">Perfil</h2>
            <p>Fredeny Nieves, 18 a침os, Actualmente me encuentro estudiando Ingenieria en Infomatica en UNERG, espero graduarme y algun dia ser un gran ingeniero que se desempe침ene en varios ambitos como lo son: Dise침o de Paginas Web y Mantenimiento de Software</p>
            </div>

           <div class="contenido">
             <h2 class="titulo">Educacion</h2>
               <p><b>UEN  -  Liceo Piritu</b><br/>
                 Secundaria
                   <br/>
                   <br/>
                   <b>Actualmente UNERG</b>
                   <br/>
                   Universida Romulo Gallegos
                   <br/>Actualmente estudiando cuarto semestre<br/>
                   ING Informatica           
               </p>
          </div>

          <div class="contenido">
            <h2 class="titulo">Experiencia Laboral</h2>
              <p><b>Trabajo Propio</b><br/>
                Mantenimiento de PC
                  <br/>
                  Instalaci칩n Software Celulares          
              </p>
         </div>

         <div class="contenido">
            <h2 class="titulo">Habilidad y Experiencia</h2>
              <p><b>Javascript -----45%</b><br/>
                <br/><b>HTML ---------78%</b><br/>
                <br/><b>CSS -------------33%</b><br/>      
              </p>
         </div>

         <div class="contenido">
          <h2 class="titulo">Redes Sociales</h2>
            <p><b>Facebook:</b><br/>Fredeny Nieves<br/>
              <br/><b>Instagran:</b><br/>@fredeny9     
            </p>
       </div>
          
      </div>

    </div>
</body>
</html>
